.nav-botoes {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.cabecalho {
    display: flex;
    gap: 40%;
    justify-content: space-around;
    box-shadow: 1px 1px 30px navy;
    background-color: #11111181;
    display: flex;
    align-items: center;
    animation: animacao-cabecalho 10s infinite;
}


.nome {
    color: whitesmoke;
    width: 100%;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: animacao-cabecalho 10s infinite;
    height: 120%;
}

.desenvolvido {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.contato-img {
    width: 10%;
    align-items: center;
}

.contatos-menu {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    width: 70%;
    gap: 10px;
}

.contato {
    background-color: rgba(112, 128, 144, 0.05);
    box-shadow: 2px 2px 10px rgba(112, 128, 144, 0.05);
    border-radius: 10px;
}

.contato:hover {
    animation: fundoClaro 1s;
    background-color: rgba(255, 255, 255, 0.1);

}

#scrollButton {
    background-color: none;
}

@media screen and (max-width: 1024px) {
    .contatos-menu{
        width: 90%;
    }

    .cabecalho{
        gap: 30%;
    }

    .nav-botoes{
        gap: 20%
    }
}

@media screen and (max-width: 768px) {
    .contato-img{
        width: 20%;
    }

    .cabecalho{
        gap: 10%;
    }

    .nav-botoes{
        gap: 30%;
        width: 30%;
    }
}